body {

}
section {

font-family: 'Droid Sans', sans-serif;

}


.container {
    display: flex;
	justify-content: flex-start;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.column {
    //flex: 1;
	
	
    
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    //box-sizing: border-box;
}

.column-one {
	//float: left;
	//width: 150px;
	//position: fixed;
	display: flex;
	flex-direction: column;
	//flex-grow: 1;
	order: 1;
	//flex: 0 0 auto;
}
.column-two {
    order: 4;
}
.column-three {
    order: 3;
}
.column-four {
	//flex-grow: 0;
	//margin-left:150px;
    order: 2;
	//flex: 1 1 100%;
    //min-width: 0;
}
.column-four img{
	max-width: 100%;
}

.btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn-upload input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: 0;
    max-width: 100%;
    height: 100%;
    display: block;
}
.btn-upload .btn{
    padding: 8px 20px;
    background: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
    border: 0;
}
.btn-upload:hover .btn{
    padding: 8px 20px;
    background: #2e6da4;
    color: #fff;
    border: 0;
}

.button {
  width: 100px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 30px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.btn-mode {
  width: 100px;
  background: #bbc3c9;
  background-image: -webkit-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -moz-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -ms-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -o-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: linear-gradient(to bottom, #bbc3c9, #929aa1);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-mode:hover {
  background: #9eacb5;
  background-image: -webkit-linear-gradient(top, #9eacb5, #333638);
  background-image: -moz-linear-gradient(top, #9eacb5, #333638);
  background-image: -ms-linear-gradient(top, #9eacb5, #333638);
  background-image: -o-linear-gradient(top, #9eacb5, #333638);
  background-image: linear-gradient(to bottom, #9eacb5, #333638);
  text-decoration: none;
}

.btn-mode.selected {
  background: #9eacb5;
  background-image: -webkit-linear-gradient(top, #9eacb5, #333638);
  background-image: -moz-linear-gradient(top, #9eacb5, #333638);
  background-image: -ms-linear-gradient(top, #9eacb5, #333638);
  background-image: -o-linear-gradient(top, #9eacb5, #333638);
  background-image: linear-gradient(to bottom, #9eacb5, #333638);
  text-decoration: none;
}





.js-basic-single{
	width:100px;
}
.select2-container--default .select2-selection--single{
    //font-size: 0.5em;  
}

#canvas {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
}
.rectangle {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: absolute;
}
.rectangle:hover {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: absolute;
	box-shadow:0 0 25px #1dfcfc;
	text-shadow: 0 0 5px #1dfcfc;
}
.rectangleText {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position:relative;
}


